* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

body {
	font-family: 'Lato', sans-serif;
}

.center {
	padding: 0 calc(50% - 570px);
}

a {
	text-decoration: none;
}

button::-moz-focus-outer, button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* ----------- HEADER ----------- */

.logo {
	display: flex;
	align-items: center;
	font-size: 27px;
	font-weight: 300;
	color: #222222;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

/* -- Active elements in header -- */
.logo:active, .button:active, .header__browse:active, .header__search:active .header__search-img,
.header__cart:active .header__cart-img {
	padding-top: 2px;
}

.logo__letter-last {
	font-weight: 900;
	color: #f16d7f;
}

.logo__img {
	margin-right: 13px;
}

.header {
	height: 100px;
	background-color: #ffffff;
	border: 1px solid #ececec;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left, .header__right {
	display: flex;
	align-items: center;
}

.header__form {
	display: flex;
	align-items: center;
	margin-left: 37px;
}

.header__browse {
	height: 38px;
	min-width: 87px;
	border: 1px solid #e6e6e6;
	border-radius: 3px 0 0 3px;
	background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	cursor: pointer;
}

.header__browse .fa-sort-down {
	font-size: 14px;
	color: #838383;
}

.header__input {
	height: 38px;
	width: 280px;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-right: 0;
	border-left: 0;
	padding: 0 16px;
	letter-spacing: 0.03em;
}

.header__input::-moz-placeholder {
	font-size: 14px;
	font-weight: 300;
	color: #a4a4a4;
	letter-spacing: 0.03em;
}

.header__input::-webkit-input-placeholder {
	font-size: 14px;
	font-weight: 300;
	color: #a4a4a4;
	letter-spacing: 0.03em;
}

.header__search {
	height: 38px;
	width: 36px;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__cart-img {
	margin-right: 26px;
}

.button {
	height: 38px;
	padding-left: 19px;
	padding-right: 12px;
	background-color: #f16d7f;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: 0.03em;
	outline: none;
	cursor: pointer;
}

.button .fa-sort-down {
	font-size: 14px;
	color: #ffffff;
}

/* ----------- MENU ----------- */

.nav {
	background-color: #ffffff;
}

.menu {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.menu__link {
	font-size: 14px;
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
	padding: 19px;
	display: block;
}

.menu__link:hover {
	color: #666666;
}

.menu__link:active {
	color: #222222;
}

/* ----------- PROMO ----------- */

.promo {
	height: 613px;
	background-color: #e8e8e8;
	background-image: url("img/promo.png");
	background-repeat: no-repeat;
	background-position: center -52px;
	display: flex;
	align-items: flex-start;
	-webkit-transition: background-position-y 1500ms linear;
	-moz-transition: background-position-y 1500ms linear;
	-o-transition: background-position-y 1500ms linear;
	-ms-transition: background-position-y 1500ms linear;
	transition: background-position-y 1500ms linear;
}

.promo:hover {
	background-position-y: -42px;
	-ms-background-position-y: -32px;
}

.promo__content {
	margin-top: 224px;
	border-left: 12px solid #f16d7f;
	padding-left: 12px;
	font-weight: 900;
	color: #222222;
	letter-spacing: 0.03em;
}

.promo__content-h1 {
	font-size: 60px;
	margin-top: -16px;
}

.promo__content-h2 {
	font-size: 40px;
	margin-bottom: -7px;
}

.promo__content-h2-span {
	color: #f16d7f;
}

/* ----------- CATEGORY ----------- */

.category {
	margin-top: 98px;
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category__item {
	margin-bottom: 20px;
	padding-top: 26px;
	display: block;
	background-size: 100%;
	-webkit-transition: background-size 1500ms linear;
	-moz-transition: background-size 1500ms linear;
	-o-transition: background-size 1500ms linear;
	-ms-transition: background-size 1500ms linear;
	transition: background-size 1500ms linear;
}

.category__item:hover {
	background-size: 105% ;
}

.category__left-men, .category__right-kids {
	height: 542px;
	width: 560px;
}

.category__left-accesories, .category__right-women {
	height: 261px;
	width: 560px;
}

.category__left-men {
	background-image: url("img/category-men.png");
}

.category__left-accesories {
	background-image: url("img/category-accesories.png");
}

.category__right-women {
	background-image: url("img/category-women.png");
}

.category__right-kids {
	background-image: url("img/category-kids.png");
}

.category__badge {
	height: 82px;
	min-width: 175px;
	background-color: #ffffff;
	font-weight: 900;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 16px 20px;
	display: inline-block;
}

.category__badge-offer {
	font-size: 18px;
	color: #222222;
}

.category__badge-name {
	font-size: 30px;
	color: #f16d7f;
}

/* ----------- FEATURED ----------- */

.product {
	margin-bottom: 113px;
}

.product__h3 {
	font-size: 30px;
	font-weight: bold;
	color: #222222;
	text-align: center;
	letter-spacing: 0.03em;
	line-height: 54px;
}

.product__p {
	font-size: 14px;
	color: #9f9f9f;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 60px;
}

.product__catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 22px;
}

.product__item {
	margin-bottom: 31px;
	background-color: #fff;
	cursor: pointer;
	position: relative;
}

.product__item:hover {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product__dark {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: rgba(58, 56, 56, 0.83);
	height: 280px;
	width: 100%;
	padding-top: 98px;
	padding-left: 70px;
	transition: visibility 0ms, opacity 500ms linear;
	-webkit-transition: visibility 0ms, opacity 500ms linear;
	-moz-transition: visibility 0ms, opacity 500ms linear;
	-o-transition: visibility 0ms, opacity 500ms linear;
	-ms-transition: visibility 0ms, opacity 500ms linear;
}

.product__item:hover .product__dark {
	visibility: visible;
	opacity: 1;
}

.product__dark-button {
	height: 39px;
	width: 123px;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product__dark-button:active {
	padding-top: 2px;
}

.product__dark-button-text {
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
}

.product__item-text {
	padding: 12px 12px 21px 14px;
}

.product__item-text:hover .product__item-rating  {
	display: block;
}

.product__item-name {
	font-size: 14px;
	color: #222222;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.product__item-price {
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #f16d7f;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.product__item-rating {
	float: right;
	display: none;
}

.product__item-rating .fa-star, .product__item-rating .fa-star-half-alt {
	font-size: 15px;
	color: #e4af48;
	text-align: center;
	text-transform: uppercase;
}

.product__view-all {
	text-align: center;
}

.product__view-all .button {
	height: 48px;
	font-size: 16px;
	font-weight: bold;
}

/* ----------- BANNER ----------- */

.banner {
	display: flex;
	/*flex-wrap: wrap; TODO: с wrap блок .banner__right наезжает на .subscribe при уменьшении ширины экрана, исправить*/
	color: #fbfbfb;
	letter-spacing: 0.03em;
	height: 529px;
}

.banner__left {
	flex-grow: 2;
	flex-basis: 767px;
	background-image: url("img/banner-shadow.png"), url("img/banner-women.png");
	background-repeat: no-repeat;
	background-color: #222224;
	background-size: 100%;
	-webkit-transition: background-image 1500ms, background-size 1500ms linear;
	-moz-transition: background-image 1500ms, background-size 1500ms linear;
	-o-transition: background-image 1500ms, background-size 1500ms linear;
	-ms-transition: background-image 1500ms, background-size 1500ms linear;
	transition: background-image 1500ms, background-size 1500ms linear;
	padding: 146px 39px;
}

.banner__left:hover {
	background-image: url("img/banner-women.png");
	background-size: 105%;
}

.banner__left-text {
	letter-spacing: 0.03em;
	font-weight: bold;
}

.banner__left-h3 {
	font-size: 54px;
}

.banner__content-h3-span {
	color: #f16d7f;
}

.banner__left-p {
	font-size: 32px;
}

.banner__right {
	flex-grow: 1;
	flex-basis: 373px;
	background-color: #222224;
	padding: 48px 25px 25px 30px;
}

.banner__article {
	padding-left: 77px;
	margin-bottom: 45px;
}

.banner__article:last-child {
	margin-bottom: 20px;
}

.banner__article-1 {
	background-image: url("img/delivery.png");
	background-repeat: no-repeat;
}

.banner__article-2 {
	background-image: url("img/discounts.png");
	background-repeat: no-repeat;
}

.banner__article-3 {
	background-image: url("img/quality.png");
	background-repeat: no-repeat;
}

.banner__article-container{
	width: 236px;
}

.banner__article-h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
}

.banner__article-p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

/* ----------- SUBSCRIBE ----------- */

.subscribe {
	margin-top: 97px;
	height: 438px;
	background-color: #f2f2f2;
	background-image: linear-gradient(to top, rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)), url("img/subscribe-bgi.png");
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 111px;
	display: flex;
	justify-content: space-between;
	-webkit-transition: background-position-y 500ms linear;
	-moz-transition: background-position-y 500ms linear;
	-o-transition: background-position-y 500ms linear;
	-ms-transition: background-position-y 500ms linear;
	transition: background-position-y 500ms linear;
}

.subscribe:hover {
	background-position-y: -5px;
	-ms-background-position-y: -5px;
}


.subscribe__article {
	background-image: url("img/quote-1.png");
	background-repeat: no-repeat;
	width: 536px;
	padding-top: 5px;
	padding-left: 110px;
	letter-spacing: 0.03em;
}

.subscribe__article-quote {
	font-size: 16px;
	font-style: italic;
	color: #222224;
	line-height: 26px;
	padding-bottom: 8px;
}

.subscribe__article-author {
	font-size: 16px;
	font-weight: bold;
	color: #f16d7f;
	line-height: 26px;
}

.subscribe__article-town {
	font-size: 12px;
	font-weight: 300;
	color: #222224;
	line-height: 14px;
	margin-bottom: 20px;
}

.subscribe__article-links {
	display: flex;
	justify-content: flex-start;
}

.subscribe__article-link {
	padding: 20px 0 20px 0;
	margin-right: 13px;
}

.subscribe__article-hr {
	height: 4px;
	width: 38px;
	background-color: #d6d6d6;
}

.subscribe__article-hr-active {
	background-color: #f16d7f;
}

.subscribe__section {
	color: #222224;
	letter-spacing: 0.03em;
	padding-top: 35px;
}

.subscribe__section-h3 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}

.subscribe__section-p {
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	padding-bottom: 30px;
}

.subscribe__section-form {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.subscribe__section-input {
	height: 46px;
	width: 282px;
	background-color: #e1e1e1;
	border-radius: 23px 0 0 23px;
	font-size: 14px;
	line-height: 54px;
	padding-left: 28px;
	padding-right: 28px;
}

.subscribe__section-button {
	height: 46px;
	width: 104px;
	background-color: #f16d7f;
	border-radius: 0 23px 23px 0;
}